h1{
  color : red;
  font-weight : 200;
}
em{
  color : blue;
}
#cvtitle{
  font-size: 60;
}
.title{
  background-color: #4286f4;
  color : #000000;
  border: solid 1px;
}
.list_skill{
  color : #000000;
  background-color: #78f738;
  padding-top : 5px;
  padding-bottom : 5px;
  padding-left : 5px;
  margin-top : 200px;
  margin-bottom : 50px;
  margin-left : 50px;
  margin-right : 50px;
}
.film{
  background-color: #f4e842;
  color : #000000;

}
.list{
  background-color: #ff00f6;
  color : #000000;
}
.list_2{
  background-color: #ff0000;
  color : #000000;
}
